.btn-filter {
  border: 1px solid #2a9fd8;
  background: #05a7e9 !important;
  color: white;
}
.btn-cancel {
  background-color: white !important;
  color: #2a9fd8;
  margin-right: 10px;
}
::ng-deep .mat-form-field-underline {
  display: none;
}
