 
<h1 mat-dialog-title>Filter Options</h1>
<div mat-dialog-content>
  <div class="card card-text-size">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-6">
          <mat-form-field appearance="outline" class="container">
            <mat-label class="mat-label-text">Area</mat-label>
            <mat-select>
              <mat-option *ngFor="let area of currencies" [value]="area.value">
                {{area.text}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-sm-6">
          <mat-form-field appearance="outline" class="container">
            <mat-label class="mat-label-text">SubArea</mat-label>
            <mat-select>
              <mat-option *ngFor="let food of currencies" [value]="food.value">
                {{food.text}}
              </mat-option>
            </mat-select>
          </mat-form-field>

        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <mat-form-field appearance="outline" class="container">
            <mat-label class="mat-label-text">System Code</mat-label>
            <mat-select>
              <mat-option *ngFor="let food of currencies" [value]="food.value">
                {{food.text}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-sm-6">
          <mat-form-field appearance="outline" class="container">
            <mat-label class="mat-label-text">Object Code</mat-label>
            <mat-select>
              <mat-option *ngFor="let food of currencies" [value]="food.value">
                {{food.text}}
              </mat-option>
            </mat-select>
          </mat-form-field>

        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <mat-form-field appearance="outline" class="container">
            <mat-label class="mat-label-text">Resource Name</mat-label>
            <mat-select>
              <mat-option *ngFor="let food of currencies" [value]="food.value">
                {{food.text}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-sm-6">
          <mat-form-field class="container" appearance="outline">

            <input matInput placeholder="Last Updated By" class="mat-label-text" value="">
            <mat-hint class="mat-hint-text">User IA or CN number</mat-hint>
          </mat-form-field>
        </div>
      </div>
       
    </div>
  </div>

</div>
<div mat-dialog-actions>
  <button mat-raised-button mat-dialog-close color="warn">Close</button>
  <button mat-raised-button mat-dialog-close  >APPLY FILTERS</button>

</div>
