
<h1 mat-dialog-title class="dialog-title">Filter Options</h1>
<div mat-dialog-content>
  <div class="card card-text-size">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-6">
          <mat-form-field appearance="outline" class="container">
            <mat-label class="mat-label-text">Area</mat-label>
            <mat-select>
              <mat-option *ngFor="let area of currencies" [value]="area.value">
                {{area.text}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-sm-6">
          <mat-form-field appearance="outline" class="container">
            <mat-label class="mat-label-text">SubArea</mat-label>
            <mat-select>
              <mat-option *ngFor="let food of currencies" [value]="food.value">
                {{food.text}}
              </mat-option>
            </mat-select>
          </mat-form-field>

        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <mat-form-field appearance="outline" class="container">
            <mat-label class="mat-label-text">System Code</mat-label>
            <mat-select>
              <mat-option *ngFor="let food of currencies" [value]="food.value">
                {{food.text}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-sm-6">
          <mat-form-field appearance="outline" class="container">
            <mat-label class="mat-label-text">Object Code</mat-label>
            <mat-select>
              <mat-option *ngFor="let food of currencies" [value]="food.value">
                {{food.text}}
              </mat-option>
            </mat-select>
          </mat-form-field>

        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <mat-form-field appearance="outline" class="container">
            <mat-label class="mat-label-text">Resource Name</mat-label>
            <mat-select>
              <mat-option *ngFor="let food of currencies" [value]="food.value">
                {{food.text}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-sm-6">
          <mat-form-field class="container" appearance="outline">

            <input matInput placeholder="User" class="mat-label-text" value="">
            <mat-hint class="mat-hint-text">User IA or CN number</mat-hint>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <mat-form-field   class="container" appearance="outline">
            <input matInput [matDatepicker]="picker2" placeholder="Last Updated" class="mat-label-text">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2 color="primary"></mat-datepicker>
          </mat-form-field>

        </div>
      </div>
    </div>
  </div>

</div>
<div mat-dialog-actions class="direction-right">
  <button mat-raised-button mat-dialog-close class="btn-filter">APPLY FILTERS</button>

  <button mat-raised-button mat-dialog-close class="btn-cancel">CANCEL</button>

</div>
