.btn-filter {
  border: 1px solid #2a9fd8;
  background: #05a7e9 !important;
  color: white;
}
.btn-cancel {
  background-color: white !important;
  color: #2a9fd8;
  margin-right: 10px;
}
::ng-deep .mat-form-field-underline {
  display: none;
}

 
.mat-select-arrow-wrapper {
  width: 0;
  height: 0;
  border-left: 0px solid transparent;
  border-right: 0px solid transparent;
  border-top: 0px solid;
  margin: 0 4px;
}

.mat-select-arrow {
  border-top: 5px solid rgb(10, 73, 99);
}
