.in-active-breadmenu {
  text-decoration: none;
  color: black;
  cursor: default !important;

}

.active-breadmenu {
  cursor: pointer !important;
  color: #05a7e9 !important;
}

.right-direction {
  font-weight: bold;
  color: white;
}
