<div class="container-fluid">
  <div class="row intial-row-padding">
    <div class="col-sm-6">
      <nav aria-label="breadcrumb">
        <div class="breadcrumb">
          <div class="breadcrumb-item" *ngFor="let breadmenu of breadcrumbMenuList ">
            <a *ngIf="breadmenu.isDisplay" [ngClass]="{'active-breadmenu': breadmenu.routerText != selectedrouterText, 'in-active-breadmenu' : breadmenu.routerText === selectedrouterText }"
               (click)="getSelectedMenu(breadmenu.routerText,breadmenu.routerLink)">{{breadmenu.routerText}}</a>
          </div>
        </div>
      </nav>
    </div>
    <span>CONFIGURATION</span>
    <h2>{{selectedrouterText}}</h2>
    <div>
      Find specific configuration or create a  <a mat-button routerLink="." class="new-config-link" appearance="outline">NEW CONFIGURATION</a>
    </div>
  </div>
</div>
<hr />
