.row-padding{
    margin-top:-18%;
}
.card-text-size {
  font-size: 10pt;
  text-align: center;
  height: 144px;
}
.bar-line-padding {
  padding-top: 100px;
}
.legend-text {
  color: #C00000;
  font-weight: bold;
  font-size: 12pt;
  border-color: #C00000 !important;
  border: 3pt !important;
  border-radius: 10px 10px 10px 10px!important;
  border-style: solid !important;
}
.discrepancy-padding {
  padding-top: 10px;
}
