<h1>Inventory discrepancies</h1>

<mat-form-field>
  <mat-label>Preffered currency</mat-label>
  <mat-select [(value)]="selected">

    <mat-option *ngFor="let currency of currencies" [value]="currency.value">
      {{currency.text}}
    </mat-option>

  </mat-select>
</mat-form-field>
<div class="row">
  <div class="col-sm-2">
    <app-location [locationdata]="locationdata" *ngIf="locationdata"></app-location>
  </div>
  <div class="col-sm-2">
    <app-department [departmentdata]="departmentdata" *ngIf="departmentdata"></app-department>
  </div>
  <div class="col-sm-2">
    <app-items [itemdata]="itemdata" *ngIf="itemdata"></app-items>
  </div>
  <div class="col-sm-6">
    <app-pie-chart [departmentdata]="departmentdata" *ngIf="departmentdata" [selectedWeek]="selectedWeek"></app-pie-chart>
  </div>
</div>
<div class="row row-padding">
  <div class="col-sm-2">
    <app-doughnut-chart [locationlabels]="locationlabels" [locdiscrepancy]="locdiscrepancy" [loccolors]="loccolors" *ngIf="locationlabels && locdiscrepancy" [header]="'Ratio of affected location'"></app-doughnut-chart>
  </div>
  <div class="col-sm-2">
    <app-doughnut-chart [departmentlabels]="departmentlabels" [depdiscrepancy]="depdiscrepancy" [depcolors]="depcolors" *ngIf="departmentlabels && depdiscrepancy" [header]="'Ratio of affected deps'"></app-doughnut-chart>
  </div>
  <div class="col-sm-2">
    <div class="card card-text-size">

      <div class="card-body">
        <div class="chartjs-container">
          <span>
            Estimated Discrepancy Value
          </span>
          <fieldset class="border p-2 legend-text">
            <legend class="w-auto"></legend>
            <div>
              $213,885
            </div>
          </fieldset>
         
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row bar-line-padding">
  <div class="col-sm-6">
    <app-line-chart (getWeekData)="getWeekData($event)"></app-line-chart>
  </div>
  <div class="col-sm-6">
    <app-bar-chart [locationdata]="locationdata" [selectedWeek]="selectedWeek" *ngIf="locationdata" (getDiscrepancyLocDetail)="getDiscrepancyLocDetail($event)"></app-bar-chart>
  </div>
</div>
<div >
  <div *ngIf="discrepancylocDetail" class="col-sm-12 discrepancy-padding">
    <app-discrepancy-location-detail [discrepancylocDetail]="discrepancylocDetail"></app-discrepancy-location-detail>
  </div>
</div>

