<div class="card card-text-size">
  <div class="card-body">
    <div class="row">
      <div class="col-sm-6">
        <mat-form-field appearance="outline" class="container">
          <mat-label class="mat-label-text">Area</mat-label>
          <mat-select>
            <mat-option *ngFor="let area of areadata" [value]="area.areaId">
              {{area.areaName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-sm-6">
        <mat-form-field appearance="outline" class="container">
          <mat-label class="mat-label-text">SubArea</mat-label>
          <mat-select>
            <mat-option *ngFor="let food of currencies" [value]="food.value">
              {{food.text}}
            </mat-option>
          </mat-select>
        </mat-form-field>

      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <mat-form-field appearance="outline" class="container">
          <mat-label class="mat-label-text">System Code</mat-label>
          <mat-select>
            <mat-option *ngFor="let food of currencies" [value]="food.value">
              {{food.text}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-sm-6">
        <mat-form-field appearance="outline" class="container">
          <mat-label class="mat-label-text">Object Code</mat-label>
          <mat-select>
            <mat-option *ngFor="let food of currencies" [value]="food.value">
              {{food.text}}
            </mat-option>
          </mat-select>
        </mat-form-field>

      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <mat-form-field  appearance="outline" class="container">
          <mat-label class="mat-label-text">Resource Name</mat-label>
          <mat-select>
            <mat-option *ngFor="let food of currencies" [value]="food.value">
              {{food.text}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-sm-6">
        <mat-form-field class="container" appearance="outline">

          <input matInput placeholder="Last Updated By" class="mat-label-text" value="">
          <mat-hint class="mat-hint-text">User IA or CN number</mat-hint>
        </mat-form-field>
      </div>
    </div>
    <div class="row search-padding">
      <div class="col-sm-1">  <button mat-raised-button color="primary" class="btn-search">SEARCH</button></div>
      <div class="col-sm-1">   <button mat-button color="primary" class="btn-clear">CLEAR</button></div>

    </div>
  </div>
</div>

