.card-text-size {
  font-size: 10pt;
  margin-top: 10px;
}
.container > * {
  position: absolute;
  top: 30vh;
  left: 30vw;
}

.mat-label-text {
  font-size: 13pt !important;
}

.mat-hint-text {
  font-size: 10pt !important;
}

.search-padding {
  padding: 23px;
}

.btn-search {
  background-color: #05a7e9 !important;
}

.btn-clear {
  color: #05a7e9 !important;
  font-weight: bold;
}
