
<div class="card card-text-size">
  
  <div class="card-body">
    <div class="chartjs-container">
      <span>
        Discrepancy by location
      </span>
      <div class="chart-wrapper bar-padding" *ngIf="barChartLabels">
        <canvas baseChart id="bar-chart"
                [datasets]="barChartData"
                [labels]="barChartLabels"
                [options]="barChartOptions"
                [colors]="barChartColors"
                [plugins]="barChartPlugins"
                [legend]="barChartLegend"
                (chartClick)="barChartClicked($event)"
                [chartType]="barChartType">
        </canvas>
      </div>
    </div>
  </div>
</div>

