<div>
  <hr />
  <div class="row bolder-div-padding ">
    <div class="col-sm-9">
      <div class="bolder-header-div">All fields are required.</div>
      
    </div>
  </div>
  <form [formGroup]="configeditForm" (ngSubmit)="onSubmit()">
    <!--Error Handling-->
    <div class="row bolder-div-padding ">
      <div class="col-sm-6">
        <div class="bolder-header-div">Error Handling</div>
        <div class="content-div">Define how to handle errors associated with this ingestion configuration.</div>
      </div>
    </div>
    <div class="row div-padding">
        <div class="row div-padding" >
          <div class="col-sm-6">
            <mat-form-field appearance="outline" class="container">
              <mat-label>Plan Name</mat-label>
              <mat-select formControlName="errorHandling">
                <mat-option value="yes">Yes</mat-option>
                <mat-option value="no">No</mat-option>
              </mat-select>
            </mat-form-field>
        </div>
      </div>
    </div>
    <!--Project Details-->
    <div class="row bolder-div-padding ">
      <div class="col-sm-6">
        <div class="bolder-header-div">Project Details</div>
        <div class="content-div">Define project metadata and other tags associated with this ingestion configuration.</div>
      </div>
    </div>
    <div class="row div-padding">
      <div formArrayName="projectDetail">
        <div class="row div-padding" *ngFor="let projectdetail of projectDetail().controls; let i=index" [formGroupName]="i">

          <div class="col-sm-6">
            <mat-form-field appearance="outline" class="container">
              <mat-label>Keyword</mat-label>
              <mat-select formControlName="keyword">
                <mat-option value="lorem">Lorem Ipsum</mat-option>
                <mat-option value="projectCode">Project Code</mat-option>
              </mat-select>
            </mat-form-field>

          </div>
          <div class="col-sm-5">
            <mat-form-field appearance="outline" class="container">
              <mat-label>Value</mat-label>
              <mat-select formControlName="value">
                <mat-option value="Ta1">TA1</mat-option>
                <mat-option value="Ta2">TA2</mat-option>
                <mat-option value="Ta3">TA3</mat-option>
                <mat-option value="lightBlue">Light Blue</mat-option>
              </mat-select>
            </mat-form-field>

          </div>
          <div class="col-sm-1">
            <mat-icon (click)="removeProjectDetail(i)" class="delete-btn ">delete</mat-icon>
          </div>
        </div>
        <a mat-button class="new-config-link" appearance="outline" (click)="addProjectDetail()">ADD</a>

      </div>
    </div>
    <!--Copy to  Lower Environments-->
    <div class="row bolder-div-padding ">
      <div class="col-sm-9">
        <div class="bolder-header-div">Copy to  Lower Environments</div>
        <div class="content-div">Determine if data should be copied down from higher environments.Data cannot be copied to the development environment.</div>
      </div>
    </div>
    <div class="row div-padding">
      <div formArrayName="copyToLowerEnv">
        <div class="row div-padding" *ngFor="let copytoLowerEnv of copyToLowerEnv().controls; let i=index" [formGroupName]="i">

          <div class="col-sm-3">
            <mat-form-field appearance="outline" class="container">
              <mat-label>Name</mat-label>
              <mat-select formControlName="sequence">
                <mat-option value="lorem">Lorem</mat-option>
                <mat-option value="ipsum">Ipsum</mat-option>
              </mat-select>
            </mat-form-field>

          </div>
          <div class="col-sm-4">
            <mat-form-field appearance="outline" class="container">
              <mat-label>Endpoint Address</mat-label>
              <mat-select formControlName="sourceEnv">
                <mat-option value="yes">Yes</mat-option>
                <mat-option value="no">No</mat-option>
              </mat-select>
            </mat-form-field>

          </div>
          <div class="col-sm-4">
            <mat-form-field appearance="outline" class="container">
              <mat-label>Status</mat-label>
              <mat-select formControlName="targetEnv">
                <mat-option value="yes">Yes</mat-option>
                <mat-option value="no">No</mat-option>
              </mat-select>
            </mat-form-field>

          </div>

          <div class="col-sm-1">
            <mat-icon (click)="removeCopyToLowerEnv(i)" class="delete-btn ">delete</mat-icon>
          </div>
        </div>

        <a mat-button class="new-config-link" appearance="outline" (click)="addCopyToLowerEnv()">ADD</a>
      </div>
    </div>

    <!--Vend Topics-->
    <div class="row bolder-div-padding ">
      <div class="col-sm-9">
        <div class="bolder-header-div">Vend Topics</div>
        <div class="content-div">Define how to vend data after the ingesation event from SNS,SQS, or a Kafka request.</div>
      </div>
    </div>
    <div class="row div-padding">
      <div formArrayName="vendTopic">
        <div class="row div-padding" *ngFor="let vendtopic of vendTopic().controls; let i=index" [formGroupName]="i">

          <div class="col-sm-3">
            <mat-form-field appearance="outline" class="container">
              <mat-label>Name</mat-label>
              <mat-select formControlName="name">
                <mat-option value="lorem">Lorem</mat-option>
                <mat-option value="ipsum">Ipsum</mat-option>
              </mat-select>
            </mat-form-field>

          </div>
          <div class="col-sm-3">
            <mat-form-field appearance="outline" class="container">
              <mat-label>Endpoint Address</mat-label>
              <mat-select formControlName="endpoints">
                <mat-option value="yes">Yes</mat-option>
                <mat-option value="no">No</mat-option>
              </mat-select>
            </mat-form-field>

          </div>
          <div class="col-sm-2">
            <mat-form-field appearance="outline" class="container">
              <mat-label>Status</mat-label>
              <mat-select formControlName="status">
                <mat-option value="yes">Yes</mat-option>
                <mat-option value="no">No</mat-option>
              </mat-select>
            </mat-form-field>

          </div>
          <div class="col-sm-3">
            <mat-form-field appearance="outline" class="container">
              <mat-label>Directly Vend Payload</mat-label>
              <mat-select formControlName="directlyVendPayload">
                <mat-option value="yes">Yes</mat-option>
                <mat-option value="no">No</mat-option>
              </mat-select>
            </mat-form-field>

          </div>
          <div class="col-sm-1">
            <mat-icon (click)="removeVendTopic(i)" class="delete-btn ">delete</mat-icon>
          </div>
        </div>

        <a mat-button class="new-config-link" appearance="outline" (click)="addVendTopic()">ADD</a>
      </div>
    </div>

    <!--ActiveBatch Pipelines-->
    <div class="row bolder-div-padding ">
      <div class="col-sm-12">
        <div class="bolder-header-div">ActiveBatch Pipelines</div>
        <div class="content-div">Define the ActiveBatch Plans and IICS/informatica PowerCenter workflows invoked for synchronous data processing after ingestion .</div>
      </div>
    </div>
    <div class="row div-padding">
      <div formArrayName="activeBatch">
        <div class="row div-padding" *ngFor="let activebatch of activeBatch().controls; let i=index" [formGroupName]="i">

          <div class="col-sm-6">
            <mat-form-field appearance="outline" class="container">
              <mat-label>Plan Name</mat-label>
              <mat-select formControlName="planName">
                <mat-option value="lorem">Lorem</mat-option>
                <mat-option value="ipsum">Ipsum</mat-option>
              </mat-select>
            </mat-form-field>

          </div>
          <div class="col-sm-5">
            <mat-form-field appearance="outline" class="container">
              <mat-label>Status</mat-label>
              <mat-select formControlName="status">
                <mat-option value="yes">Yes</mat-option>
                <mat-option value="no">No</mat-option>
              </mat-select>
            </mat-form-field>

          </div>
          <div class="col-sm-1">
            <mat-icon (click)="removeActiveBatch(i)" class="delete-btn ">delete</mat-icon>
          </div>
        </div>
        <a mat-button class="new-config-link" appearance="outline" (click)="addActiveBatch()">ADD</a>

      </div>
    </div>


    <button type="submit" class="btn btn-success">Submit</button>

  </form>

  <br />
  {{this.configeditForm.value | json}}
</div>
