<div>
  <form [formGroup]="configeditForm" (ngSubmit)="onSubmit()">
    <!--Vend Topics-->
    <div class="row bolder-div-padding ">
      <div class="col-sm-9">
        <div class="bolder-header-div">Vend Topics</div>
        <div class="content-div">Define how to vend data after the ingesation event from SNS,SQS, or a Kafka request.</div>
      </div>
    </div>
    <div class="row div-padding">
      <div formArrayName="vendTopic">
        <div class="row div-padding" *ngFor="let vendtopic of vendTopic().controls; let i=index" [formGroupName]="i">

          <div class="col-sm-3">
            <mat-form-field appearance="outline" class="container">
              <mat-label>Name</mat-label>
              <mat-select formControlName="name">
                <mat-option value="lorem">Lorem</mat-option>
                <mat-option value="ipsum">Ipsum</mat-option>
              </mat-select>
            </mat-form-field>

          </div>
          <div class="col-sm-3">
            <mat-form-field appearance="outline" class="container">
              <mat-label>Endpoint Address</mat-label>
              <mat-select formControlName="endpoints">
                <mat-option value="yes">Yes</mat-option>
                <mat-option value="no">No</mat-option>
              </mat-select>
            </mat-form-field>

          </div>
          <div class="col-sm-2">
            <mat-form-field appearance="outline" class="container">
              <mat-label>Status</mat-label>
              <mat-select formControlName="status">
                <mat-option value="yes">Yes</mat-option>
                <mat-option value="no">No</mat-option>
              </mat-select>
            </mat-form-field>

          </div>
          <div class="col-sm-3">
            <mat-form-field appearance="outline" class="container">
              <mat-label>Directly Vend Payload</mat-label>
              <mat-select formControlName="directlyVendPayload">
                <mat-option value="yes">Yes</mat-option>
                <mat-option value="no">No</mat-option>
              </mat-select>
            </mat-form-field>

          </div>
          <div class="col-sm-1">
            <mat-icon (click)="removeVendTopic(i)" class="delete-btn ">delete</mat-icon>
          </div>
        </div>
        <div width="150px"><button type="button" (click)="addVendTopic()" class="btn btn-primary">Add</button></div>
      </div>
    </div>

    <!--ActiveBatch Pipelines-->
    <div class="row bolder-div-padding ">
      <div class="col-sm-12">
        <div class="bolder-header-div">ActiveBatch Pipelines</div>
        <div class="content-div">Define the ActiveBatch Plans and IICS/informatica PowerCenter workflows invoked for synchronous data processing after ingestion .</div>
      </div>
    </div>
    <div class="row div-padding">
      <div formArrayName="activeBatch">
        <div class="row div-padding" *ngFor="let activebatch of activeBatch().controls; let i=index" [formGroupName]="i">

          <div class="col-sm-5">
            <mat-form-field appearance="outline" class="container">
              <mat-label>Plan Name</mat-label>
              <mat-select formControlName="planName">
                <mat-option value="lorem">Lorem</mat-option>
                <mat-option value="ipsum">Ipsum</mat-option>
              </mat-select>
            </mat-form-field>

          </div>
          <div class="col-sm-5">
            <mat-form-field appearance="outline" class="container">
              <mat-label>Status</mat-label>
              <mat-select formControlName="status">
                <mat-option value="yes">Yes</mat-option>
                <mat-option value="no">No</mat-option>
              </mat-select>
            </mat-form-field>

          </div>
          <div class="col-sm-2">
            <mat-icon (click)="removeActiveBatch(i)" class="delete-btn ">delete</mat-icon>
          </div>
        </div>
        <div width="150px"><button type="button" (click)="addActiveBatch()" class="btn btn-primary">Add</button></div>
      </div>
    </div>


    <button type="submit" class="btn btn-success">Submit</button>

  </form>

  <br />
  {{this.configeditForm.value | json}}
</div>
