<breadcrumb-menu [getCurrentBreadcrumbMenu]="setBreadcrumbMenuatext"></breadcrumb-menu>
<div class="container-fluid">
   
  <div class="row bolder-div-padding ">
    <div class="col-sm-9">
      <div class="bolder-header-div">All fields are required.</div>

    </div>
  </div>
  <form [formGroup]="configeditForm" (ngSubmit)="onSubmit()">

    <!--Environment Label-->
    <div class="row div-padding ">
      <div class="col-sm-3">
        <div class="label-header-div">Environment</div>
        <div class="label-content-div">Lorem Ipsum</div>
      </div>
      <div class="col-sm-3">
        <div class="label-header-div">Ingest Bucket</div>
        <div class="label-content-div">Lorem Ipsum</div>

      </div>
      <div class="col-sm-3">
        <div class="label-header-div">Ingest Folder</div>
        <div class="label-content-div">Lorem Ipsum</div>
      </div>
    </div>
    <!--Config details-->
    <div class="row div-padding">
      <div class="row div-padding">
        <div class="col-sm-3">
          <div formGroupName="configBasicSetting">
            <mat-form-field appearance="outline" class="container">
              <mat-label>Area</mat-label>
              <mat-select formControlName="area" (selectionChange)="areaSelection($event.value)">
                <mat-option value="Lorem">Lorem</mat-option>
                <mat-option value="Ipsum">Ipsum</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="col-sm-3" *ngIf="subAreaDisplay">
          <div formGroupName="configBasicSetting">
            <mat-form-field appearance="outline" class="container">
              <mat-label>SubArea</mat-label>
              <mat-select formControlName="subarea">
                <mat-option value="Lorem">Lorem</mat-option>
                <mat-option value="Ipsum">Ipsum</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
       
      </div>

      <div class="row div-padding">
        <div class="col-sm-3">
          <div formGroupName="configBasicSetting">
            <mat-form-field appearance="outline" class="container">
              <mat-label>System Code</mat-label>
              <mat-select formControlName="systemCode">
                <mat-option value="Lorem">Lorem</mat-option>
                <mat-option value="Ipsum">Ipsum</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="col-sm-3">
          <div formGroupName="configBasicSetting">
            <mat-form-field appearance="outline" class="container">
              <mat-label>Object Code</mat-label>
              <mat-select formControlName="objectCode">
                <mat-option value="Object Code1">Object Code1</mat-option>
                <mat-option value="Object Code2">Object Code2</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="row div-padding">
        <div class="col-sm-3">
          <div formGroupName="configBasicSetting">
            <mat-form-field appearance="outline" class="container">
              <mat-label>Resource</mat-label>
              <mat-select formControlName="resource">
                <mat-option value="Resource 1">Resource 1</mat-option>
                <mat-option value="Resource 2">Resource 2</mat-option>

              </mat-select>
            </mat-form-field>
          </div>
        </div>
        </div>
        <div class="row div-padding">
          <div class="col-sm-3">

            <div formGroupName="configBasicSetting">
              <mat-form-field appearance="outline" class="container">
                <mat-label>Ingestion Source</mat-label>
                <mat-select formControlName="ingestionSource" (selectionChange)="ingestionSourceChange($event.value)">
                  <mat-option value="Table">Table</mat-option>
                  <mat-option value="File">File</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

          </div>
          <div class="col-sm-3" *ngIf="ingestionSourceTable">
            <div formGroupName="configurationOption">
              <mat-form-field appearance="outline" class="container">
                <mat-label>Database/Schema</mat-label>
                <mat-select formControlName="retainedVersion">
                  <mat-option value="S3-v1">S3-v1</mat-option>
                  <mat-option value="S3-v2">S3-v2</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="col-sm-3" *ngIf="ingestionSourceTable">
            <div formGroupName="configurationOption">
              <mat-form-field appearance="outline" class="container">
                <mat-label>Table Name</mat-label>
                <mat-select formControlName="retainedVersion">
                  <mat-option value="S3-v1">S3-v1</mat-option>
                  <mat-option value="S3-v2">S3-v2</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="col-sm-3" *ngIf="!ingestionSourceTable">
            <div formGroupName="configBasicSetting">
              <mat-form-field appearance="outline" class="container">
                <mat-label>Object Name</mat-label>
                <mat-select formControlName="objectName">
                  <mat-option value="S3-v1">S3-v1</mat-option>
                  <mat-option value="S3-v2">S3-v2</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>

        <div class="row div-padding">
          <div class="col-sm-3">
            <div formGroupName="configBasicSetting">
              <mat-form-field appearance="outline" class="container">
                <mat-label>Content Type</mat-label>
                <mat-select formControlName="contentType">
                  <mat-option value="Json">Json</mat-option>
                  <mat-option value="Xml">Xml</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>

        <div class="row div-padding">
          <div class="col-sm-3">
            <div formGroupName="configBasicSetting">

              <mat-form-field class="container" appearance="outline">
                <input matInput [matDatepicker]="picker1" formControlName="effectiveDate" placeholder="Effective Date" class="mat-label-text">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1 color="primary"></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
          <div class="col-sm-3">
            <div formGroupName="configBasicSetting">
              <mat-form-field class="container" appearance="outline">
                <input matInput [matDatepicker]="picker2" formControlName="exipirationDate" placeholder="Exipiration Date" class="mat-label-text">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2 color="primary"></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="label-header-div">Creation Date</div>
            <div class="label-content-div">01/01/2020</div>
          </div>
        </div>

        <div class="row div-padding">
          <div class="col-sm-3">
            <div formGroupName="configBasicSetting">
              <mat-form-field appearance="outline" class="container">
                <mat-label>Configuration Status</mat-label>
                <mat-select formControlName="configurationStatus">
                  <mat-option value="Active">Active</mat-option>
                  <mat-option value="Deactivate">Deactivate</mat-option>

                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>

      </div>

    <!--Configuration Options-->
    <div class="row bolder-div-padding">
      <div class="col-sm-6">
        <div class="bolder-header-div">Configuration Options</div>
        <div class="content-div">Define how this ingestion configuration should be processed in IDH.</div>
      </div>
    </div>
    <div class="row">
      <div class="row">
        <div class="col-sm-4">
          <div formGroupName="configurationOption">
            <mat-form-field appearance="outline" class="container">
              <mat-label>Ingest into S3 Taxonomy</mat-label>
              <mat-select formControlName="ingestTaxonomy" (selectionChange)="ingestChange($event.value)">
                <mat-option value="Yes">Yes</mat-option>
                <mat-option value="No">No</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        
      </div>
      <div class="row">
        <div class="col-sm-6" *ngIf="!ingestDisplay">
          <div formGroupName="configurationOption">
            <mat-form-field appearance="outline" class="container">
              <mat-label>Copy to Source </mat-label>
              <mat-select formControlName="copyToSource">
                <mat-option value="Yes">Yes</mat-option>
                <mat-option value="No">No</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="row div-padding">
        <div class="col-sm-2">
          <div formGroupName="configurationOption">
            <mat-form-field appearance="outline" class="container">
              <mat-label>Data Load Type</mat-label>
              <mat-select formControlName="dataLoadType">
                <mat-option value="Full">Full</mat-option>
                <mat-option value="Delta">Delta</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="col-sm-4" *ngIf="!ingestDisplay">
          <div formGroupName="configurationOption">
            <mat-form-field appearance="outline" class="container">
              <mat-label>Number Of Retained Versions</mat-label>
              <mat-select formControlName="retainedVersion">
                <mat-option value="S3-v1">S3-v1</mat-option>
                <mat-option value="S3-v2">S3-v2</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="row div-padding">
        <div class="col-sm-2">
          <div formGroupName="configurationOption">
            <mat-form-field appearance="outline" class="container">
              <mat-label>Service Escalation Level</mat-label>
              <mat-select formControlName="escalationLevel">
                <mat-option value="Priority 1">Priority 1</mat-option>
                <mat-option value="Priority 2">Priority 2</mat-option>

              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
    <!--Error Handling-->
    <div class="row bolder-div-padding ">
      <div class="col-sm-6">
        <div class="bolder-header-div">Error Handling</div>
        <div class="content-div">Define how to handle errors associated with this ingestion configuration.</div>
      </div>
    </div>
    <div class="row div-padding">
      <div class="row div-padding">
        <div class="col-sm-4">
          <mat-form-field appearance="outline" class="container">
            <mat-label>Error Handling Event</mat-label>
            <mat-select formControlName="errorHandling">
              <mat-option value="Yes">Yes</mat-option>
              <mat-option value="No">No</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
    <!--Project Details-->
    <div class="row bolder-div-padding ">
      <div class="col-sm-6">
        <div class="bolder-header-div">Project Details</div>
        <div class="content-div">Define project metadata and other tags associated with this ingestion configuration.</div>
      </div>
    </div>
    <div class="row div-padding">
      <div formArrayName="projectDetail">
        <div class="row div-padding" *ngFor="let projectdetail of projectDetail().controls; let i=index" [formGroupName]="i">

          <div class="col-sm-2">
            <mat-form-field appearance="outline" class="container">
              <mat-label>Keyword</mat-label>
              <mat-select formControlName="keyword">
                <mat-option value="Lorem Ipsum">Lorem Ipsum</mat-option>
                <mat-option value="Project Code">Project Code</mat-option>
              </mat-select>
            </mat-form-field>

          </div>
          <div class="col-sm-2">
            <mat-form-field appearance="outline" class="container">
              <mat-label>Value</mat-label>
              <mat-select formControlName="value">
                <mat-option value="Ta1">TA1</mat-option>
                <mat-option value="Ta2">TA2</mat-option>
                <mat-option value="Ta3">TA3</mat-option>
                <mat-option value="lightBlue">Light Blue</mat-option>
              </mat-select>
            </mat-form-field>

          </div>
          <div class="col-sm-1">
            <mat-icon (click)="removeProjectDetail(i)" class="delete-btn ">delete</mat-icon>
          </div>
        </div>
        <a mat-button class="new-config-link" appearance="outline" (click)="addProjectDetail()">ADD</a>

      </div>
    </div>
    <!--Copy to  Lower Environments-->
    <div class="row bolder-div-padding ">
      <div class="col-sm-9">
        <div class="bolder-header-div">Copy to  Lower Environments</div>
        <div class="content-div">Determine if data should be copied down from higher environments.Data cannot be copied to the development environment.</div>
      </div>
    </div>
    <div class="row div-padding">
      <div formArrayName="copyToLowerEnv">
        <div class="row div-padding" *ngFor="let copytoLowerEnv of copyToLowerEnv().controls; let i=index" [formGroupName]="i">

          <div class="col-sm-2">
            <mat-form-field appearance="outline" class="container">
              <mat-label>Sequence</mat-label>
              <mat-select formControlName="sequence">
                <mat-option value="Lorem">Lorem</mat-option>
                <mat-option value="Ipsum">Ipsum</mat-option>
              </mat-select>
            </mat-form-field>

          </div>
          <div class="col-sm-2">
            <mat-form-field appearance="outline" class="container">
              <mat-label>Source Environment</mat-label>
              <mat-select formControlName="sourceEnv" (selectionChange)="sourceEnvSelection($event.value)">
                <mat-option value="PROD">PROD</mat-option>
                <mat-option value="PREPROD">PREPROD</mat-option>
                <mat-option value="UAT">UAT</mat-option>
              </mat-select>
            </mat-form-field>

          </div>
          <div class="col-sm-2" *ngIf="targetEnvDisplay">
            <mat-form-field appearance="outline" class="container">
              <mat-label>Target </mat-label>
              <mat-select formControlName="targetEnv">

                <mat-option value="PREPROD">PREPROD</mat-option>
                <mat-option value="UAT">UAT</mat-option>
                <mat-option value="UAT">SIT</mat-option>
              </mat-select>
            </mat-form-field>

          </div>

          <div class="col-sm-1">
            <mat-icon (click)="removeCopyToLowerEnv(i)" class="delete-btn ">delete</mat-icon>
          </div>
        </div>

        <a mat-button class="new-config-link" appearance="outline" (click)="addCopyToLowerEnv()">ADD</a>
      </div>
    </div>

    <!--Vend Topics-->
    <div class="row bolder-div-padding ">
      <div class="col-sm-9">
        <div class="bolder-header-div">Vend Topics</div>
        <div class="content-div">Define how to vend data after the ingesation event from SNS,SQS, or a Kafka request.</div>
      </div>
    </div>
    <div class="row div-padding">
      <div formArrayName="vendTopic">
        <div class="row div-padding" *ngFor="let vendtopic of vendTopic().controls; let i=index" [formGroupName]="i">

          <div class="col-sm-2">
            <mat-form-field appearance="outline" class="container">
              <mat-label>Name</mat-label>
              <mat-select formControlName="name">
                <mat-option value="Lorem">Lorem</mat-option>
                <mat-option value="Ipsum">Ipsum</mat-option>
              </mat-select>
            </mat-form-field>

          </div>
          <div class="col-sm-2">
            <mat-form-field appearance="outline" class="container">
              <mat-label>Endpoint Address</mat-label>
              <mat-select formControlName="endpoints">
                <mat-option value="Yes">Yes</mat-option>
                <mat-option value="No">No</mat-option>
              </mat-select>
            </mat-form-field>

          </div>
          <div class="col-sm-2">
            <mat-form-field appearance="outline" class="container">
              <mat-label>Status</mat-label>
              <mat-select formControlName="status">
                <mat-option value="Yes">Yes</mat-option>
                <mat-option value="No">No</mat-option>
              </mat-select>
            </mat-form-field>

          </div>
          <div class="col-sm-2">
            <mat-form-field appearance="outline" class="container">
              <mat-label>Directly Vend Payload</mat-label>
              <mat-select formControlName="directlyVendPayload">
                <mat-option value="Yes">Yes</mat-option>
                <mat-option value="No">No</mat-option>
              </mat-select>
            </mat-form-field>

          </div>
          <div class="col-sm-1">
            <mat-icon (click)="removeVendTopic(i)" class="delete-btn ">delete</mat-icon>
          </div>
        </div>

        <a mat-button class="new-config-link" appearance="outline" (click)="addVendTopic()">ADD</a>
      </div>
    </div>

    <!--ActiveBatch Pipelines-->
    <div class="row bolder-div-padding ">
      <div class="col-sm-12">
        <div class="bolder-header-div">ActiveBatch Pipelines</div>
        <div class="content-div">Define the ActiveBatch Plans and IICS/informatica PowerCenter workflows invoked for synchronous data processing after ingestion .</div>
      </div>
    </div>
    <div class="row div-padding">
      <div formArrayName="activeBatch">
        <div class="row div-padding" *ngFor="let activebatch of activeBatch().controls; let i=index" [formGroupName]="i">

          <div class="col-sm-2">
            <mat-form-field appearance="outline" class="container">
              <mat-label>Plan Name</mat-label>
              <mat-select formControlName="planName">
                <mat-option value="Lorem">Lorem</mat-option>
                <mat-option value="Ipsum">Ipsum</mat-option>
              </mat-select>
            </mat-form-field>

          </div>
          <div class="col-sm-2">
            <mat-form-field appearance="outline" class="container">
              <mat-label>Status</mat-label>
              <mat-select formControlName="status">
                <mat-option value="Yes">Yes</mat-option>
                <mat-option value="No">No</mat-option>
              </mat-select>
            </mat-form-field>

          </div>
          <div class="col-sm-1">
            <mat-icon (click)="removeActiveBatch(i)" class="delete-btn ">delete</mat-icon>
          </div>
        </div>
        <a mat-button class="new-config-link" appearance="outline" (click)="addActiveBatch()">ADD</a>

      </div>
    </div>
    <div class="row div-padding">
      <div class="col-sm-1">  <button mat-raised-button color="primary" type="submit" class="btn-save">SAVE</button></div>
      <div class="col-sm-1">   <button mat-button color="primary" class="btn-cancel">CANCEL</button></div>
    </div>
  </form>
  <br />
   <!--{{this.configeditForm.value | json}}--> 
</div>
