<div class="container no-container-padding">
  <nav id="idh-header" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <div class="navbar-brand"> </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
            <a class="nav-link" [routerLink]="['/home']">IDH Management</a>
          </li>
        </ul>

      </div>
      <div class="direction-right right-direction ">
        <span class="material-icons filter-shape" [matMenuTriggerFor]="menu">
          monitor
        </span> Current Environment {{envType}}

        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="menuClick('DEV')">DEV</button>
          <button mat-menu-item (click)="menuClick('SIT')">SIT</button>
          <button mat-menu-item (click)="menuClick('UAT')">UAT</button>
          <button mat-menu-item (click)="menuClick('PREP')">PREP</button>
          <button mat-menu-item (click)="menuClick('PROD')">PROD</button>
        </mat-menu>
      </div>
    </div>
  </nav>
  <div class="row header-row">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item" *ngFor="let breadmenu of breadcrumbMenuList " ><a *ngIf="breadmenu.isDisplay" [ngClass]="[breadmenu.routerText === selectedrouterText ? 'active-breadmenu' : '']" (click)="getSelectedMenu(breadmenu.routerText,breadmenu.routerLink)" >{{breadmenu.routerText}}</a></li>
      </ol>
    </nav>
    <span>CONFIGURATION</span>
    <h1>{{selectedrouterText}}</h1>
    <div class="col-sm-8">
      Find specific configuration or create a  <a mat-button routerLink="." class="new-config-link" appearance="outline">NEW CONFIGURATION</a>
    </div>
  </div>
</div>

