<div class="container no-container-padding">
  <nav id="idh-header" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <div class="navbar-brand"> </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
true}">
            <a class="nav-link" [routerLink]="['/home']">IDH Management</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="row header-row">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/search">Search</a></li>
        <li class="breadcrumb-item"><a routerLink="/result">Results</a></li>
        <li class="breadcrumb-item active"><a routerLink="/home">Detail</a></li>
      </ol>
    </nav>
    <span>CONFIGURATION</span>
    <h1>Search</h1>
    <div class="col-sm-8">
      Find specific configuration or create a  <a mat-button routerLink="." class="new-config-link" appearance="outline">NEW CONFIGURATION</a>
    </div>
  </div>
</div>

