<div class="row header-row">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/search">Search</a></li>
      <li class="breadcrumb-item"><a routerLink="/result">Results</a></li>
      <li class="breadcrumb-item active"><a routerLink="/home">Detail</a></li>
    </ol>
  </nav>
  <span>CONFIGURATION</span>
  <h1>Search</h1>
  <div class="col-sm-8">
    Find specific configuration or create a  <a mat-button routerLink="." class="new-config-link" appearance="outline">NEW CONFIGURATION</a>
  </div>
</div>
<div class="col-sm-12 discrepancy-padding">
  <app-idh-search></app-idh-search>
</div>


