
.card-text-size {
  font-size: 10pt;
  margin-top: 10px;
}
.card-text-align {
  text-align: center;
  background-color: #EFF1F5;
  padding: 10px;
}
.card-title-text {
  color: #577A9B;
  font-weight: bold;
}
.search-results {
  padding-bottom: 10px;
  font-weight:bold;
  
  font-size: 15pt;
}
table {
  width: 100%;
}
.cdk-overlay-pane.my-dialog {
  position: relative !important;
}

.close.mat-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  line-height: 14px;
  min-width: auto;
}

.mat-header-cell {
  text-align: center !important;
  display: flex !important;
  align-items: center !important;
  font-weight: bold !important;
  font-size: 11pt !important;
  color: rgb(0 0 0 / 87%)!important;
}
 
.view-details {
  color: #05a7e9 !important;
  cursor: pointer;
}

.table-padding{
    padding-top:20px!important;
}

.direction-right {
  direction: rtl;
}

.filter-count {
  height: 30px;
  width: 30px;
  background-color: #d0cccc;
  border-radius: 50%;
  display: inline-block;
  padding-left: 5px;
  padding-top: 5px;
  margin-left: 4px;
  cursor: pointer;
  padding-right: 10px;
}
.no-result-div {
  text-align: center;
  font-size: 15pt;
  color: silver;
  padding-top: 54px;
}
.error-outline-icon {
  transform: scale(2);
}
.enable-refresh {
  color: #05a7e9 !important;
  cursor:pointer!important;
}
.mat-chip-text {
  padding-left: 5px;
}
table {
  width: 100%;
}
.example-container {
  height: auto;
  overflow: auto;
}

table {
  width: 100%;
}

tr.mat-footer-row {
  font-weight: bold;
}

.mat-table-sticky {
  border-top: 1px solid #e0e0e0;
}
 
::ng-deep .mat-tooltip {
  font-size: 15px;
  white-space: pre-wrap;
  color: gray !important;
  background-color: rgba(255, 255, 255, .9);
  border: 1px solid gray;
  max-width: unset !important;
   
}
.mat-select-panel:not([class*=mat-elevation-z]) {
  box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
  /* padding-top: 20px; */
  top: -200px!important;
}
.mat-select-panel {
  position: absolute;
  top: 32px;
  left: 4px;
  min-width: calc(100% + 22px) !important;
  border-radius: 0px !important;
  border: 1px solid rgb(223, 223, 233);
  border-top-style: none;
  top: -145px !important;
}
