/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~bootstrap/dist/css/bootstrap.css";

.card-text-size {
  font-size: 10pt;
  margin-top: 10px;
}


.mat-form-field-appearance-outline .mat-form-field-outline-start {
  border-radius: 0px !important;
  border: 1px solid rgb(221, 211, 205) !important;
  border-right-style: none !important;
}
.mat-form-field-appearance-outline .mat-form-field-outline-gap {
  border-radius: 0.000001px!important;
  border: 1px solid gb(214, 214, 230) !important;
  border-left-style: none !important;
  border-right-style: none !important;
  width:0px!important;
}
.mat-form-field-appearance-outline .mat-form-field-outline-end {
  border-radius: 0px !important;
  border: 1px solid rgb(214, 214, 230) !important;
  border-left-style: none !important;
}

.mat-select-panel ng-animating {
  visibility: hidden;
}
.direction-right {
  direction: rtl;
}

.filter-shape {
  height: 45px !important;
  width: 45px !important;
  background-color: ghostwhite !important;
  border-radius: 50%;
  display: inline-block;
  padding-left: 10px;
  padding-top: 10px;
  margin-left: 19px;
  cursor: pointer;
  color: #2a9fd8!important;
  vertical-align:middle!important;
}
.dialog-title {
  font-weight: bold;
}
.mat-checkbox-ripple .mat-ripple-element,
.mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: #05a7e9 !important;
}
.bold-text{
    font-weight:bold;
    padding-left:5px;
}
 
.mat-form-field-flex:hover .mat-form-field-outline-gap {
  color: rgb(223, 223, 233) !important;
}


.mat-chip.mat-standard-chip {
  background-color: rgb(0 0 0 / 4%);
  color: #05a7e9 !important
}

.full-width {
  width: 100%;
}

​
.chip-list-wrapper {
  min-height: 3em;
}
.mat-chip-remove {
  transform: scale(1);
}
.no-results-found{
    text-align:center;
    font-weight:bold;
    font-size:20pt;
    padding-top:20px;
}
.new-config-link {
  color: #7fd2f3;
  font-weight: bold;
  border: 1px solid rgb(221, 211, 205) !important;
  margin-left: 10px!important;
    
}
.intial-row-padding {
  padding-left: 10px !important;
  padding-right: 10px !important;
  padding-top: 20px !important;
}
.mat-form-field {
  display: inline-block;
  position: relative;
  text-align: left;
  padding-left: 14px!important;
}

.breadcrumb-item:last-child::before {
  display: none !important;
}
.find-specific{
    padding-left:20px!important;
}
.mat-primary .mat-pseudo-checkbox-checked, .mat-primary .mat-pseudo-checkbox-indeterminate {
  background: #05a7e9 !important;
  
}
.widthcontainer {
  width: 23vw !important;
}
